
@{
}
<div id="spinner" class="row">
    <div class="col-sm-12">
        <h4 class="text-center">The Results are loading...</h4>
        <div class="loader"></div>
    </div>
</div>

<canvas id="myChart"></canvas>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/vote/getResults.js"></script>
}
