
@{
}
<div id="spinner" class="row">
    <div class="col-sm-12">
        <h4 class="text-center">The Results are loading...</h4>
        <div class="loader"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3 id="header" class="text-center"></h3>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <canvas id="myChart"></canvas>
    </div>
    <div class="col-sm-6">
        <canvas id="pieChart"></canvas>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-sm-12">
        <div id="results">
            
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/vote/getResults.js"></script>
}
