@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>In order for you to register and create an account you have to use email address. We are storing this email address in our database. You don't have to use your real email address. </p>
<p>In order to create the Stellar Voting account you however have to enter your Unique ID number and number of your ID Card issued by the government. This way every person will vote only once in the election.</p>
<p>We do not store your id information. We only store the hash of your id info in order to validate that it is not going to be used more the once.</p>
